.equipment-table td {
  position: relative;
}

.equipment-table td .oi {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
}

@media (min-width: 768px) {
  .equipment-table td .oi {
    font-size: 3.5vw;
  }
}



#page-container {
  margin-top: 10px;
}

.equipment-table {
  border: solid 2px black;
  border-collapse: collapse;
  display: table;
}

.equipment-table td {
  border: solid 1px green;
  width: 10%;
  padding-top: 10%;
  padding-bottom: 0px;
}

span.oi-dashboard {
  width: 26px;
  height: 26px;
  border: solid 3px;  padding: 3px;
}

#add-sensor-humidity {
  border-color: #add8e6;
}

#add-sensor-fert {
  border-color: brown;
}

#add-sensor-light {
  border-color: #fff04e;
}

#add-sensor-air {
  border-color: #ddf;
}

#add-sensor-water {
  border-color: blue;
}

#add-sensor-ph {
  border-color: green;
}

.oi:empty:before {
  margin-left: -1px;
}

.oi-sun {
  color: #fff04e;
}

.oi-cloud {
  color: #ddf;
}

.oi-fire {
  color: red;
}

.oi-beaker {
  color: brown;
}

.oi-droplet {
  color: #add8e6;
}

.sensor .oi {
  color: #FFF;
}