@page
@{
  ViewBag.Title = "Log - Greenhouse-systems";
  ViewBag.MenuItem = "History";
  Layout = "_Layout";

  @section Styles {
    <link rel="stylesheet" href="/css/status/status.css">
  }

  @section Scripts {
    <script type="text/javascript" src="/js/history/log.js"></script>
  }
}

<div class="row">
  <table class="table table-striped">
    <tbody>
    </tbody>
  </table>
</div>