@page
@{
  ViewBag.Title = "Equipment - Greenhouse-systems";
  ViewBag.MenuItem = "Equipment";
  Layout = "_Layout";

  @section Styles {
    <link rel="stylesheet" href="/css/equipment/equipment.css">
  }

  @section Scripts {
    <script type="text/javascript" src="/js/equipment/equipment.js"></script>
  }
}

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="card col-6">
        <div class="card-body">
          <h4 class="card-title">Passive sensors</h4>
          <p><span class="oi oi-dashboard" id="add-sensor-air"></span> Air temperature x<span id="air-unplaced">1</span></p>
          <p><span class="oi oi-dashboard" id="add-sensor-water"></span> Water temperature x<span id="water-unplaced">0</span></p>
          <p><span class="oi oi-dashboard" id="add-sensor-ph"></span> PH x<span id="ph-unplaced">0</span></p>
        </div>
      </div>
      <div class="card col-6">
        <div class="card-body">
          <h4 class="card-title">Active sensors</h4>
          <p><span class="oi oi-dashboard" id="add-sensor-humidity"></span> Humidity x<span id="humidity-unplaced">0</span></p>
          <p><span class="oi oi-dashboard" id="add-sensor-fert"></span> Fertilization x<span id="fert-unplaced">0</span></p>
          <p><span class="oi oi-dashboard" id="add-sensor-light"></span> Lightening x<span id="light-unplaced">0</span></p>
        </div>
      </div>
      <div class="card col-6">
        <div class="card-body">
          <h4 class="card-title">Equipment</h4>
          <p><span class="oi oi-sun " id="add-lighter"></span> Light x<span id="lighter-unplaced">0</span></p>
          <p><span class="oi oi-cloud" id="add-conditioner"></span> Conditioner x<span id="conditioner-unplaced"></span></p>
          <p><span class="oi oi-fire" id="add-heater"></span> Heater x<span id="heater-unplaced">0</span></p>
        </div>
      </div>
      <div class="card col-6">
        <div class="card-body">
          <h4 class="card-title">Equipment</h4>
          <p><span class="oi oi-beaker" id="add-fertilizer"></span> Fertilizer x<span id="fertizator-unplaced">0</span></p>
          <p><span class="oi oi-droplet" id="add-humidifier"></span> Humidifier x<span id="humidifier-unplaced">0</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

