a {
  color: #090;
}

table.plan{
  flex: all;
  border: solid 1px #eee;
  border-collapse: collapse;
}
@media only screen and (min-width : 670px) {
  table.plan {
    display: table;  
  }
}

.bg-dark--green {
  background-color: #030
  !important;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.state-on {
  color: green;
}

.state-off {
  color: red;
}

.oi {
  color: gray;
}

.oi:hover {
  color: black;
}

.draggable {
  cursor: -webkit-move; /* Chrome 1-21, Safari 4+ */
  cursor:    -moz-move; /* Firefox 1.5-26 */
  cursor:         move; /* W3C standards syntax, should come least */
}

.draggable:active { 
  cursor: -webkit-grabbing;
  cursor:    -moz-grabbing;
  cursor:         grabbing;
}

.oi {
  cursor: pointer;
}

.oi-trash-period {
  font-size: 22px;
}

@media only screen and (max-width : 979px) {
  .img-plan {
    width: 100%;
  }
}

.img-plan {
  height: 100% !important;
}