@page
@{
  ViewBag.Title = "Debug - Greenhouse-systems";
  ViewBag.MenuItem = "Debug";
  Layout = "_Layout";

  @section Styles {
    <link rel="stylesheet" href="/css/status/status.css">
  }

  @section Scripts {
    <script type="text/javascript" src="/js/status/debug.js"></script>
  }
}

<div class="row" id="air">
</div>

