@page
@{
  ViewBag.Title = "Debug - Greenhouse-systems";
  ViewBag.MenuItem = "Debug";
  Layout = "_Layout";

  @section Styles {
    <link rel="stylesheet" href="/css/status/status.css">
    <link rel="stylesheet" href="/css/status/debug.css">
  }

  @section Scripts {
    <script type="text/javascript" src="/js/status/debug.js"></script>
  }
}


<div class="row" id="">
</div>


<button type="button" class="btn btn-light" id="btn-air">Air</button>
<button type="button" class="btn btn-light" id="btn-water">Water</button>
<button type="button" class="btn btn-light" id="btn-ph">PH</button>
<button type="button" class="btn btn-light" id="btn-fert">Fert</button>
<button type="button" class="btn btn-light" id="btn-humidity">Humidity</button>
<button type="button" class="btn btn-light" id="btn-light">Light</button>

